.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
.idea/
.vscode/
android/local.properties
android/.gradle/
android/app/.cxx/
ios/
**/Pods/
**/build/
